<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749556599774-ctdfm75301fn5969nrnlrs68e4uae1qm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749556599774-ctdfm75301fn5969nrnlrs68e4uae1qm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>749556599774-4j7l0e174r1uuepcupmeas0k6qaegmm0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQqnm70nZeRstRRH9vGrZUZbCGg2kql9c</string>
	<key>GCM_SENDER_ID</key>
	<string>749556599774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MisterIdli</string>
	<key>PROJECT_ID</key>
	<string>mister-idli</string>
	<key>STORAGE_BUCKET</key>
	<string>mister-idli.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749556599774:ios:7dbec4198b8f794ba46b4f</string>
	<key>DATABASE_URL</key>
	<string>https://mister-idli.firebaseio.com</string>
</dict>
</plist>